body {
  margin-top: 0;
  position: relative;
  width: 100%;
  overflow: scroll;
  font-size: 14px;
}

.container-fluid {
  background-color: #f5f7f6;
  padding: 0 -15px 0 -15px;
  margin-bottom: 0;
  margin-top: 0;
  width: inherit;
}

/* ---- LARGE DEVICES --- */

@media (min-width: 1200px) {
  #home {
    color: #333333;
    height: 600px;
    margin-top: 0;
    background-color: none;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center top;
    z-index: 10;
    overflow: hidden;
  }
  #text-box {
    margin: 200px 0;
  }
  #logo-box p {
    margin-top: 11px;
    margin-bottom: 13px;
    text-align: left;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300;
    font-size: 2.900em;
    line-height: double;
  }
  #logo-box #more a {
    color: #333333;
    text-decoration: underline;
    font-style: italic;
  }
  #logo-box #nav {
    float: left;
    margin-top: 21px;
  }
  #logo-box #nav a {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
    color: #fff;
    font-size: 1.350em;
    letter-spacing: 1px;
    text-decoration: none;
    background-color: #38BFBF;
    margin-right: 7px;
  }
  #logo-box #nav a:hover {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
    color: #fff;
    font-size: 1.350em;
    letter-spacing: 1px;
    text-decoration: none;
    background-color: #008F8F;
    margin-right: 7px;
  }

  /* --- WHAT? --- */

  #what {
    color: #333333;
    height: auto;
    margin-top: 0;
    background-color: none;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center top;
  }
  #what-about {
    margin-top: 100px;
  }
  #what-about p {
    font-size: 3.125em;
    font-weight: 300;
    line-height: double;
    font-family: 'Ubuntu', sans-serif;
    margin-right: 33px;
    margin-bottom: 77px;
  }
  #services-mobile {
    display: none;
  }
  #what #services i {
    color: #fff;
    background-color: #8EE6E6;
    width: 80px;
    height: 80px;
    padding-left: 23px;
    padding-top: 19px;
    border-radius: 100%;
    margin-right: 55px;
    margin-top: 11px;
  }
  #what #services ul {
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.500em;
    list-style: none;
    margin-top: 5px;
  }
  #what #services li:before {
    content: "•";
    color: #38BFBF;
    margin-right: 11px;
  }

  /* --- CONTACT --- */

  #contact-info {
    color: #333333;
    height: 550px;
    background-color: none;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center top;
  }
  #info-group {
    margin-top: 150px;
  }
  #info-group img{
    -ms-transform: rotate(-5deg); /* IE 9 */
    -webkit-transform: rotate(-5deg); /* Chrome, Safari, Opera */
    transform: rotate(-5deg);
    padding-bottom: 21px;
    padding-left: 33px;
    padding-right: 33px;
    max-width: 350px;
    margin-left: auto;
    margin-right: auto;
  }
  #info-group #mail-phone a {
    margin-bottom: 11px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.250em;
    text-align: center;
    letter-spacing: 1px;
    font-style: 600;
    background-color: #38BFBF;
    color: #fff;
  }
  #info-group #mail-phone a:hover {
    font-family: 'Ubuntu', sans-serif;
    background-color: #008F8F;
    color: #fff;
  }
  #info-group #mail-phone i {
    margin-right: 11px;
  }
  #info-group #networks a {
    margin-right: 10px;
    color: #333;
  }

  /* --- PORTFOLIO --- */

  #main-menu {
    background-color: #fff;
    border-bottom: none;
    font-family: 'Ubuntu', sans-serif;
  }
  #main-menu img {
    max-width: 150px;
  }
  #portafolio {
    height: auto;
    padding-top: 100px;
    font-family: 'Ubuntu', sans-serif;
    color: #7f7f7f;
    margin-bottom: 20px;
  }
  #portafolio-item {
    margin-bottom:100px;
  }
  #portafolio-item a {
    color:#38BFBF;
  }
  #portafolio-item a:hover {
    color:#008F8F;
    text-decoration: none;
  }
  #portafolio-item #item-pic img {
    border-radius: 3px;
  }
  #portafolio-item #item-text h3 {
    font-weight: lighter;
  }
  #portafolio-item #item-text h5 {
    text-transform: uppercase;
    font-weight: bold;
  }
  #portafolio-item #item-text p {
    font-size: 1.000em;
    line-height: 1.4;
  }
}


/* ---- IPAD LANDSCAPE ---- */

@media (min-width: 992px) and (max-width: 1200px) {

  #home {
    color: #333333;
    height: 768px;
    margin-top: 0;
    background-color: none;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center top;
    z-index: 10;
    overflow: hidden;
  }
  #text-box {
    margin: 230px 0;
  }
  #logo-box p {
    margin-top: 11px;
    margin-bottom: 13px;
    text-align: left;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300;
    font-size: 2.300em;
    line-height: double;
  }
  #logo-box #more a {
    color: #333333;
    text-decoration: underline;
    font-style: italic;
  }
  #logo-box #nav {
    margin-top: 21px;
  }
  #logo-box #nav a {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
    color: #fff;
    font-size: 1.350em;
    letter-spacing: 1px;
    text-decoration: none;
    background-color: #38BFBF;
    margin-right: 7px;
  }
  #logo-box #nav a:hover {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
    color: #fff;
    font-size: 1.350em;
    letter-spacing: 1px;
    text-decoration: none;
    background-color: #008F8F;
    margin-right: 7px;
  }

  /* --- WHAT? --- */

  #what {
    color: #333333;
    height: auto;
    margin-top: 0;
    background-color: none;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center top;
  }
  #what-about {
    margin-top: 100px;
  }
  #what-about p {
    font-size: 3.000em;
    font-weight: 300;
    line-height: double;
    font-family: 'Ubuntu', sans-serif;
    margin-right: 33px;
    margin-bottom: 77px;
  }
  #services-mobile {
    display: none;
  }
  #what #services i {
    color: #fff;
    background-color: #8EE6E6;
    width: 80px;
    height: 80px;
    padding-left: 23px;
    padding-top: 19px;
    border-radius: 100%;
    margin-right: 55px;
    margin-top: 11px;
  }
  #what #services ul {
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.100em;
    list-style: none;
    margin-top: 15px;
  }
  #what #services li:before {
    content: "•";
    color: #38BFBF;
    margin-right: 11px;
  }

  /* --- CONTACT --- */

  #contact-info {
    color: #333333;
    height: 630px;
    background-color: none;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center top;
  }
  #info-group {
    margin-top: 150px;
  }
  #info-group img{
    -ms-transform: rotate(-5deg); /* IE 9 */
    -webkit-transform: rotate(-5deg); /* Chrome, Safari, Opera */
    transform: rotate(-5deg);
    padding-bottom: 21px;
    padding-left: 33px;
    padding-right: 33px;
    max-width: 350px;
    margin-left: auto;
    margin-right: auto;
  }
  #info-group #mail-phone a {
    margin-bottom: 11px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.250em;
    text-align: center;
    letter-spacing: 1px;
    font-style: 600;
    background-color: #38BFBF;
    color: #fff;
  }
  #info-group #mail-phone a:hover {
    font-family: 'Ubuntu', sans-serif;
    background-color: #008F8F;
    color: #fff;
  }
  #info-group #mail-phone i {
    margin-right: 11px;
  }
  #info-group #networks a {
    margin-right: 10px;
    color: #333;
  }

  /* --- PORTFOLIO --- */

  #main-menu {
    background-color: #fff;
    border-bottom: none;
    font-family: 'Ubuntu', sans-serif;
  }
  #main-menu img {
    max-width: 150px;
  }
  #portafolio {
    height: auto;
    padding-top: 100px;
    font-family: 'Ubuntu', sans-serif;
    color: #7f7f7f;
    margin-bottom: 20px;
  }
  #portafolio-item {
    margin-bottom:100px;
  }
  #portafolio-item a {
    color:#38BFBF;
  }
  #portafolio-item a:hover {
    color:#008F8F;
    text-decoration: none;
  }
  #portafolio-item #item-pic img {
    border-radius: 3px;
  }
  #portafolio-item #item-text h3 {
    font-weight: lighter;
  }
  #portafolio-item #item-text h5 {
    text-transform: uppercase;
    font-weight: bold;
  }
  #portafolio-item #item-text p {
    font-size: 1.000em;
    line-height: 1.4;
  }
}


/* ---- IPAD PORTRAIT ---- */

@media (min-width: 768px) and (max-width: 992px) {

  #home {
    color: #333333;
    height: 1000px;
    margin-top: 0;
    background-color: none;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center top;
    z-index: 10;
    overflow: hidden;
  }
  #text-box {
    margin: 185px 0;
  }
  #logo-box p {
    margin-top: 11px;
    margin-bottom: 13px;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300;
    font-size: 2.100em;
    line-height: double;
  }
  #logo-box #more a {
    color: #333333;
    text-decoration: underline;
    font-style: italic;
    float: right;
  }
  #logo-box #nav {
    margin-top: 21px;
  }
  #logo-box #nav a {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
    color: #fff;
    font-size: 1.350em;
    letter-spacing: 1px;
    text-decoration: none;
    background-color: #38BFBF;
    margin-right: 7px;
  }
  #logo-box #nav a:hover {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
    color: #fff;
    font-size: 1.350em;
    letter-spacing: 1px;
    text-decoration: none;
    background-color: #008F8F;
    margin-right: 7px;
  }

  /* --- WHAT? --- */

  #what {
    color: #333333;
    height: auto;
    margin-top: 0;
    background-color: none;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center top;
  }
  #what-about {
    margin-top: 100px;
  }
  #what-about p {
    font-size: 2.800em;
    font-weight: 300;
    line-height: double;
    font-family: 'Ubuntu', sans-serif;
    margin-right: 33px;
    margin-bottom: 77px;
  }
  #services {
    display: none;
  }
  #what #services-mobile i {
    color: #fff;
    background-color: #8EE6E6;
    width: 80px;
    height: 80px;
    padding-left: 23px;
    padding-top: 19px;
    border-radius: 100%;
    margin-right: auto;
    margin-top: 11px;
  }
  #what #services-mobile ul {
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.800em;
    list-style: none;
    margin-top: 15px;
  }
  #what #services-mobile li:before {
    content: "•";
    color: #38BFBF;
    margin-right: 11px;
  }

  /* --- CONTACT --- */

  #contact-info {
    color: #333333;
    height: auto;
    background-color: none;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center top;
  }
  #info-group {
    margin-top: 88px;
    margin-bottom: 88px;
  }
  #info-group img{
    -ms-transform: rotate(-5deg); /* IE 9 */
    -webkit-transform: rotate(-5deg); /* Chrome, Safari, Opera */
    transform: rotate(-5deg);
    padding-bottom: 21px;
    padding-left: 33px;
    padding-right: 33px;
    max-width: 350px;
    margin-left: auto;
    margin-right: auto;
  }
  #info-group #mail-phone a {
    margin-bottom: 11px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.250em;
    text-align: center;
    letter-spacing: 1px;
    font-style: 600;
    background-color: #38BFBF;
    color: #fff;
  }
  #info-group #mail-phone a:hover {
    font-family: 'Ubuntu', sans-serif;
    background-color: #008F8F;
    color: #fff;
  }
  #info-group #mail-phone i {
    margin-right: 11px;
  }
  #info-group #networks a {
    margin-right: 10px;
    color: #333;
  }

  /* --- PORTFOLIO --- */

  #main-menu {
    background-color: #fff;
    border-bottom: none;
    font-family: 'Ubuntu', sans-serif;
  }
  #main-menu img {
    max-width: 150px;
  }
  #portafolio {
    height: auto;
    padding-top: 100px;
    font-family: 'Ubuntu', sans-serif;
    color: #7f7f7f;
    margin-bottom: 20px;
  }
  #portafolio-item {
    margin-bottom:100px;
  }
  #portafolio-item a {
    color:#38BFBF;
  }
  #portafolio-item a:hover {
    color:#008F8F;
    text-decoration: none;
  }
  #portafolio-item #item-pic img {
    border-radius: 3px;
  }
  #portafolio-item #item-text h3 {
    font-weight: lighter;
  }
  #portafolio-item #item-text h5 {
    text-transform: uppercase;
    font-weight: bold;
  }
  #portafolio-item #item-text p {
    font-size: 1.000em;
    line-height: 1.4;
  }
}


/* ---- IPHONE LANDSCAPE ---- */

@media (min-width: 480px) and (max-width: 767px){

  #home {
    color: #333333;
    height: 375px;
    margin-top: 0;
    background-color: none;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center top;
    z-index: 10;
    overflow: hidden;
  }
  #text-box {
    margin: 55px 0;
  }
  #text-box img {
    max-width: 180px;
  }
  #logo-box p {
    width: 350px;
    margin-top: -121px;
    margin-bottom: 13px;
    margin-left: 220px;
    text-align: left;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300;
    font-size: 1.800em;
    line-height: double;
  }
  #logo-box #more a {
    color: #333333;
    text-decoration: underline;
    font-style: italic;
    float: right;
  }
  #logo-box #nav {
    margin-top: 21px;
    margin-left: -50px;
    text-align: right;
  }
  #logo-box #nav a {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
    color: #fff;
    font-size: 1.350em;
    letter-spacing: 1px;
    text-decoration: none;
    background-color: #38BFBF;
    margin-right: 7px;
  }
  #logo-box #nav a:hover {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
    color: #fff;
    font-size: 1.350em;
    letter-spacing: 1px;
    text-decoration: none;
    background-color: #008F8F;
    margin-right: 7px;
  }

  /* --- WHAT? --- */

  #what {
    color: #333333;
    height: auto;
    margin-top: 0;
    background-color: none;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center top;
  }
  #what-about {
    margin-top: 30px;
  }
  #what-about p {
    font-size: 1.800em;
    font-weight: 300;
    line-height: double;
    font-family: 'Ubuntu', sans-serif;
    margin-right: 33px;
    margin-bottom: 33px;
    margin-left: 55px;
  }
  #services {
    display: none;
  }
  #what #services-mobile {
    margin-left: 100px;
  }
  #what #services-mobile i {
    font-size: 5.000em;
    color: #fff;
    background-color: #8EE6E6;
    width: 110px;
    height: 110px;
    padding-left: 26px;
    padding-top: 19px;
    border-radius: 100%;
    margin-right: 35px;
    margin-top: 11px;
  }
  #what #services-mobile ul {
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.400em;
    list-style: none;
    margin-top: -110px;
    margin-left: 130px;
  }
  #what #services-mobile li:before {
    content: "•";
    color: #38BFBF;
    margin-right: 11px;
  }

  /* --- CONTACT --- */

  #contact-info {
    color: #333333;
    height: auto;
    background-color: none;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center top;
  }
  #info-group {
    margin-top: 88px;
    margin-bottom: 80px;
  }
  #info-group img{
    -ms-transform: rotate(-5deg); /* IE 9 */
    -webkit-transform: rotate(-5deg); /* Chrome, Safari, Opera */
    transform: rotate(-5deg);
    padding-bottom: 21px;
    padding-left: 33px;
    padding-right: 33px;
    max-width: 350px;
    margin-left: auto;
    margin-right: auto;
  }
  #info-group #mail-phone a {
    margin-bottom: 11px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.250em;
    text-align: center;
    letter-spacing: 1px;
    font-style: 600;
    background-color: #38BFBF;
    color: #fff;
  }
  #info-group #mail-phone a:hover {
    font-family: 'Ubuntu', sans-serif;
    background-color: #008F8F;
    color: #fff;
  }
  #info-group #mail-phone i {
    margin-right: 11px;
  }
  #info-group #networks a {
    margin-right: 10px;
    color: #333;
  }

  /* --- PORTFOLIO --- */

  #main-menu {
    background-color: #fff;
    border-bottom: none;
    font-family: 'Ubuntu', sans-serif;
  }
  #main-menu img {
    max-width: 150px;
  }
  #portafolio {
    height: auto;
    padding-top: 100px;
    font-family: 'Ubuntu', sans-serif;
    color: #7f7f7f;
    margin-bottom: 20px;
  }
  #portafolio-item {
    margin-bottom:100px;
  }
  #portafolio-item a {
    color:#38BFBF;
  }
  #portafolio-item a:hover {
    color:#008F8F;
    text-decoration: none;
  }
  #portafolio-item #item-pic img {
    border-radius: 3px;
  }
  #portafolio-item #item-text h3 {
    font-weight: lighter;
  }
  #portafolio-item #item-text h5 {
    text-transform: uppercase;
    font-weight: bold;
  }
  #portafolio-item #item-text p {
    font-size: 1.000em;
    line-height: 1.4;
  }
}


/* ---- IPHONE PORTRAIT ---- */

@media (min-width: 375px) and (max-width: 480px){

  #home {
    color: #333333;
    height: 627px;
    margin-top: 0;
    background-color: none;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center top;
    z-index: 10;
    overflow: hidden;
  }
  #text-box {
    margin: 66px 0;
  }
  #logo-box p {
    margin-top: 11px;
    margin-bottom: 13px;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300;
    font-size: 1.300em;
    line-height: double;
  }
  #logo-box #more a {
    color: #333333;
    text-decoration: underline;
    font-style: italic;
    float: right;
  }
  #logo-box #nav {
    margin-top: 21px;
    text-align: center;
  }
  #logo-box #nav a {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
    color: #fff;
    font-size: 1.050em;
    letter-spacing: 1px;
    text-decoration: none;
    background-color: #38BFBF;
    margin-right: 7px;
  }

  /* --- WHAT? --- */

  #what {
    color: #333333;
    height: auto;
    margin-top: 0;
    background-color: none;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center top;
  }
  #what-about {
    margin-top: 20px;
  }
  #what-about p {
    font-size: 2.000em;
    font-weight: 300;
    line-height: double;
    font-family: 'Ubuntu', sans-serif;
    margin-right: 33px;
    margin-bottom: 11px;
  }
  #services {
    display: none;
  }
  #what #services-mobile i {
    display: none;
  }
  #what #services-mobile ul {
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.200em;
    list-style: none;
    margin-top: 11px;
  }
  #what #services-mobile li:before {
    content: "•";
    color: #38BFBF;
    margin-right: 11px;
  }

  /* --- CONTACT --- */

  #contact-info {
    color: #333333;
    height: auto;
    background-color: none;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center top;
  }
  #info-group {
    margin-top: 33px;
    margin-bottom: 11px;
  }
  #info-group img{
    -ms-transform: rotate(-5deg); /* IE 9 */
    -webkit-transform: rotate(-5deg); /* Chrome, Safari, Opera */
    transform: rotate(-5deg);
    padding-bottom: 21px;
    padding-left: 33px;
    padding-right: 33px;
    max-width: 200px;
    margin-left: auto;
    margin-right: auto;
  }
  #info-group #mail-phone a {
    margin-bottom: 11px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.250em;
    text-align: center;
    letter-spacing: 1px;
    font-style: 600;
    background-color: #38BFBF;
    color: #fff;
  }
  #info-group #mail-phone a:hover {
    font-family: 'Ubuntu', sans-serif;
    background-color: #008F8F;
    color: #fff;
  }
  #info-group #mail-phone i {
    margin-right: 11px;
  }
  #info-group #networks a {
    margin-right: 10px;
    color: #333;
  }

  /* --- PORTFOLIO --- */

  #main-menu {
    background-color: #fff;
    border-bottom: none;
    font-family: 'Ubuntu', sans-serif;
  }
  #main-menu img {
    max-width: 150px;
  }
  #portafolio {
    height: auto;
    padding-top: 100px;
    font-family: 'Ubuntu', sans-serif;
    color: #7f7f7f;
    margin-bottom: 20px;
  }
  #portafolio-item {
    margin-bottom:100px;
  }
  #portafolio-item a {
    color:#38BFBF;
  }
  #portafolio-item a:hover {
    color:#008F8F;
    text-decoration: none;
  }
  #portafolio-item #item-pic img {
    border-radius: 3px;
  }
  #portafolio-item #item-text h3 {
    font-weight: lighter;
  }
  #portafolio-item #item-text h5 {
    text-transform: uppercase;
    font-weight: bold;
  }
  #portafolio-item #item-text p {
    font-size: 1.000em;
    line-height: 1.4;
  }
}


/* ---- IPHONE 5 PORTRAIT ---- */

@media (max-width: 374px){


    #home {
      color: #333333;
      height: 627px;
      margin-top: 0;
      background-color: none;
      background-repeat: no-repeat;
      background-attachment: scroll;
      background-position: center top;
      z-index: 10;
      overflow: hidden;
    }
    #text-box {
      margin: 33px 0;
    }
    #logo-box p {
      margin-top: 11px;
      margin-bottom: 13px;
      text-align: center;
      font-family: 'Ubuntu', sans-serif;
      font-weight: 300;
      font-size: 1.300em;
      line-height: double;
    }
    #logo-box #more a {
      color: #333333;
      text-decoration: underline;
      font-style: italic;
      float: right;
    }
    #logo-box #nav {
      margin-top: 21px;
      text-align: center;
    }
    #logo-box #nav a {
      font-family: 'Ubuntu', sans-serif;
      font-weight: 500;
      color: #fff;
      font-size: 1.050em;
      letter-spacing: 1px;
      text-decoration: none;
      background-color: #38BFBF;
      margin-right: 7px;
      margin-bottom: 11px;
    }

    /* --- WHAT? --- */

    #what {
      color: #333333;
      height: auto;
      margin-top: 0;
      background-color: none;
      background-repeat: no-repeat;
      background-attachment: scroll;
      background-position: center top;
    }
    #what-about {
      margin-top: 20px;
    }
    #what-about p {
      font-size: 2.000em;
      font-weight: 300;
      line-height: double;
      font-family: 'Ubuntu', sans-serif;
      margin-right: 33px;
      margin-bottom: 11px;
    }
    #services {
      display: none;
    }
    #what #services-mobile i {
      display: none;
    }
    #what #services-mobile ul {
      font-family: 'Ubuntu', sans-serif;
      font-size: 1.100em;
      list-style: none;
      margin-top: 11px;
    }
    #what #services-mobile li:before {
      content: "•";
      color: #38BFBF;
      margin-right: 11px;
    }

    /* --- CONTACT --- */

    #contact-info {
      color: #333333;
      height: auto;
      background-color: none;
      background-repeat: no-repeat;
      background-attachment: scroll;
      background-position: center top;
    }
    #info-group {
      margin-top: 33px;
      margin-bottom: 11px;
      margin-left: 0;
    }
    #info-group img{
      -ms-transform: rotate(-5deg); /* IE 9 */
      -webkit-transform: rotate(-5deg); /* Chrome, Safari, Opera */
      transform: rotate(-5deg);
      padding-bottom: 21px;
      padding-left: 33px;
      padding-right: 33px;
      max-width: 200px;
      margin-left: auto;
      margin-right: auto;
    }
    #info-group #mail-phone a {
      margin-bottom: 11px;
      font-family: 'Ubuntu', sans-serif;
      font-size: 1.250em;
      text-align: center;
      letter-spacing: 1px;
      font-style: 600;
      background-color: #38BFBF;
      color: #fff;
    }
    #info-group #mail-phone a:hover {
      font-family: 'Ubuntu', sans-serif;
      background-color: #008F8F;
      color: #fff;
    }
    #info-group #mail-phone i {
      margin-right: 11px;
    }
    #info-group #networks a {
      margin-right: 10px;
      color: #333;
    }

    /* --- PORTFOLIO --- */

    #main-menu {
      background-color: #fff;
      border-bottom: none;
      font-family: 'Ubuntu', sans-serif;
    }
    #main-menu img {
      max-width: 150px;
    }
    #portafolio {
      height: auto;
      padding-top: 100px;
      font-family: 'Ubuntu', sans-serif;
      color: #7f7f7f;
      margin-bottom: 20px;
    }
    #portafolio-item {
      margin-bottom:100px;
    }
    #portafolio-item a {
      color:#38BFBF;
    }
    #portafolio-item a:hover {
      color:#008F8F;
      text-decoration: none;
    }
    #portafolio-item #item-pic img {
      border-radius: 3px;
    }
    #portafolio-item #item-text h3 {
      font-weight: lighter;
    }
    #portafolio-item #item-text h5 {
      text-transform: uppercase;
      font-weight: bold;
    }
    #portafolio-item #item-text p {
      font-size: 1.000em;
      line-height: 1.4;
    }
  }

  /* END */
